<!DOCTYPE html>
<html>
    <head>
        <title>Rajeev the teacher</title>
    </head>
    <body>
        {{> header }}
        <a href="about">
            about
        </a>
        <a href="contact"> 
            contact
        </a>
        {{> footer }}
    </body>
</html>